html, body {
	padding: 0;
	margin: 0;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	background: #0A0A0A;
}

.master {
	width: 1024px;
}

p {
	margin: 0;
	padding: 0;
}

h1 {
	font-weight: 800;
	padding-bottom: 40px;
	margin-top: 0;
	margin-bottom: 0px;
	position: relative;
	font-size: 20px;
}

.config-area {
	background: #2B2B2B;
	padding: 40px 40px 0px;
}

.config .wrapper {
  border-top: 1px solid #777777;
  padding-top: 40px;
}

.config-btn {
    padding: 12px 0;
}

.wrapper {
  display: flex;

}
.wrapper > div {
  flex: 1;
  margin-right: 20px;
  overflow: hidden;
}

.wrapper > div:last-child {
	margin-right: 0px!important;
}

input {
	width: 100%;
    font-size: 14px;
    padding: 10px;
    margin-top: 20px;
    text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	outline: 0;
}

.main-controller {
	padding: 40px;
}

button {
	padding: 15px;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	border: 0;
	text-transform: uppercase;
	font-weight: 800;
	outline: 0;
	background: #0a0a0a;
    font-size: 12px;
    width: 100%;
}

button#config {
	position: absolute;
	right: 0;
}

button#submit {
	width: 100%;
	font-size: 16px;
	margin-top: 20px;
	margin-bottom: 40px;
}

button:hover {
	background: #4C4C4C;
	cursor: pointer;
}

#tournament-content {
	background: #ED1B30;
	font-size: 14px;
	font-weight: 800;
	text-transform: uppercase;
	text-align: center;
	line-height: 45px;
}

.scoreboard-wrapper {
	max-width: 1028px;
	margin: 0 auto;
}

.player-name {
	font-weight: 800;
	font-size: 26px;
	line-height: 45px;
	text-transform: uppercase;
}

#p2-name-content {
	text-align: right;
}

.player-active,
.player-inactive,
.bottom-row-spacer {
	max-width: 24px;
}

.player-indicator {
	max-width: 24px;
	margin: 0px!important;
	background: #BD10E0;
}

.player-active {
	background: #ED1B30;
}

.player-inactive {
	background: #4C4C4C;
}

#p1-score-content {
	padding-left: 15px;
}

#p2-score-content {
	padding-right: 15px;
	text-align: right;
}

.player-score {
	background: #4C4C4C;
	max-width: 100px;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 800;
  line-height: 45px;
  text-align: center;
}

.text-right {
  text-align: right
}

.player-score-right {
	margin-right: 0px!important;
}

/* BOTTOM ROW */

.bottom-line {
	background: #FFF;
	margin-bottom: 30px;
}

.bottom-row-spacer {
	margin: 0px!important;
	background: #BD10E0;
}

.bottom-spacer-two {
	background: #BD10E0;
	margin-right: 0px!important;
	max-width: 100px;
}

.player-break {
	color: #0A0A0A;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 800;
	line-height: 45px;	
	margin-right: 0px!important;
}

#p1-break-content {
	padding-left: 15px;
}

#p2-break-content {
	padding-right: 15px;
	text-align: right;
}

.tournament-detail {
	margin-right: 0px!important;
}

/* SCORE INPUT AREA */

.score-input {
	background: #4C4C4C;
	padding-top: 15px;
}

/*.score-block, 
.break-block {
	text-align: center;
	text-transform: uppercase;
	padding: 20px;
	font-weight: 800;
	margin-bottom: 15px;
}

.break-block {
	color: #0A0A0A;
	background: #FFF;
}

.score-and-break-label {
	font-size: 16px;
	margin-bottom: 20px;
}*/

/*.score,
.break {
	font-size: 40px;
}*/

.active-player-msg {
	text-align: center;
	margin-bottom: 30px;
}


.score-btn {
	background: #ED1B30;
	font-size: 16px;
	padding: 15px;
	width: 100%;
	margin-bottom: 15px;
}

.control-btn {
	width: 100%;
	margin-bottom: 15px;
	background: #939393;
	color: #FFF;
}

.control-btn:hover {
	background: #ACACAC;
}

.change-btn {
	width: 100%;
	background: #FFF;
	color: #0A0A0A;
	margin-bottom: 15px;
}

.change-btn:hover {
	background: #FFE600;
}

.score-btn:hover {
	background: #F14153;
}

.buttons-wrapper {
	padding: 0 15px;
}


/* MISC */

.hide-this {
	display:none;
}
